<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/common-head :: common-head"></head>
<body>
<h1>Listado de comandas</h1>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#addEventModal">Agregar comanda</a>
    <button type="button" class="btn btn-primary my-3" onclick="location.href='/hello'">volver a Home</button>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr><th>ID</th><th>Nombre</th><th>Fecha</th><th>Hora</th><th>Ubicación</th><th>Acciones</th></tr>
        </thead>
        <tbody>
        <tr th:each="comanda : ${comandas}">
            <td th:text="${comanda.id}" th:data-id="${comanda.id}"></td>
            <td th:text="${comanda.name}" th:data-name="${comanda.name}"></td>
            <td th:text="${comanda.date}" th:data-date="${comanda.date}"></td>
            <td th:text="${comanda.hour}" th:data-hour="${comanda.hour}"></td>
            <td th:text="${comanda.locationUrl}" th:data-locationUrl="${comanda.locationUrl}"></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${comanda.id})}" class="btn btn-warning">Editar</a>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
