<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/common-head :: common-head"></head>
<body>
<h1>Listado de comandas</h1>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#addComandaModal">Agregar comanda</a>
    <button type="button" class="btn btn-primary my-3" onclick="location.href='/hello'">volver a Home</button>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr><th>ID</th><th>Nombre</th><th>Fecha</th><th>Hora</th><th>Ubicación</th><th>Acciones</th></tr>
        </thead>
        <tbody>
        <tr th:each="comanda : ${comandas}">
            <td th:text="${comanda.id}" th:data-id="${comanda.id}"></td>
            <td th:text="${comanda.name}" th:data-name="${comanda.name}"></td>
            <td th:text="${comanda.date}" th:data-date="${comanda.date}"></td>
            <td th:text="${comanda.hour}" th:data-hour="${comanda.hour}"></td>
            <td th:text="${comanda.locationUrl}" th:data-locationUrl="${comanda.locationUrl}"></td>
            <td>
                <a th:href="@{/Comandas/edit/{id}(id=${comanda.id})}" class="btn btn-warning">Editar</a>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal para agregar comanda -->
<div class="modal fade" id="addComandaModal" tabindex="-1" role="dialog" aria-labelledby="addComandaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addComandaModalLabel">Agregar comanda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form th:action="@{/Comandas/create}" th:object="${newcomanda}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required />
                    </div>
                    <div class="form-group">
                        <label for="date">Fecha</label>
                        <input type="date" class="form-control" id="date" name="date" th:field="*{date}" required />
                    </div>
                    <div class="form-group">
                        <label for="hour">Hora</label>
                        <input type="time" class="form-control" id="hour" name="hour" th:field="*{hour}" required />
                    </div>                    
                    <div class="form-group">
                        <label for="location">Ubicación</label>
                        <input type="text" class="form-control" id="location" name="location" th:field="*{locationUrl}" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal para editar comanda -->
<div class="modal fade" id="editComandaModal" tabindex="-1" role="dialog" aria-labelledby="editComandaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Cambia la acción del formulario a /Comandas/update y th:object a ${comanda} -->
            <form th:action="@{/Comandas/update}" th:object="${comanda}" method="post">
             <div class="modal-body">
                    <input type="hidden" th:field="*{id}" id="id" />
                    <div class="form-group">
                        <label for="name">Nombre del comanda:</label>
                        <input type="text" th:field="*{name}" id="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="date">Fecha</label>
                        <input type="date" class="form-control" id="date" name="date" th:field="*{date}" required />
                    </div>
                    <div class="form-group">
                        <label for="hour">Hora</label>
                        <input type="time" class="form-control" id="hour" name="hour" th:field="*{hour}" required />
                    </div>
                    <div class="form-group">
                        <label for="location">Ubicación</label>
                        <input type="text" class="form-control" id="location" name="location" th:field="*{locationUrl}" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".edit-btn").click(function() {
            // Obtenemos los datos del comanda seleccionado
            let id = $(this).closest("tr").find("td[data-id]").data("id");
            let name = $(this).closest("tr").find("td[data-name]").data("name");
            let date = $(this).closest("tr").find("td[data-date]").data("date");
            let hour = $(this).closest("tr").find("td[data-hour]").data("hour");
            let locationUrl = $(this).closest("tr").find("td[data-locationUrl]").data("locationUrl");

            // Rellena los campos del formulario en la ventana modal
            $("#editComandaModal #id").val(id);
            $("#editComandaModal #name").val(name);
            $("#editComandaModal #date").val(date);
            $("#editComandaModal #hour").val(hour);
            $("#editComandaModal #location").val(locationUrl);

            // Abre la ventana modal de edición
            $("#editComandaModal").modal("show");
        });
    });
</script>
</body>
</html>
