<footer class="bg-primary text-white mt-5">
    <div class="container footer-reduce-padding">
        <div class="row">
            <div class="col-md-4 col-12">
                <h4></h4>
                <p></p>
            </div>
            <div class="col-md-4 col-12">
                <h4></h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"></a></li>
                    <li><a href="#" class="text-white"></a></li>
                    <li><a href="#" class="text-white"></a></li>
                    <li><a href="#" class="text-white"></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <h4>Contacto</h4>
                <p><i class="bi bi-geo-alt" style="color: rgb(255, 9, 9); text-shadow: 2px 2px 4px rgba(248, 7, 7, 0.5);"></i> Dirección: Calle Avenida 123, Ciudad, País</p>
                <p><i class="bi bi-envelope" style="color: rgb(226, 9, 9); text-shadow: 2px 2px 4px rgba(248, 7, 7, 0.5);"></i> Email: avenida@gmail.com</p>
                <p><i class="bi bi-telephone" style="color: rgb(248, 13, 13); text-shadow: 2px 2px 4px rgba(248, 7, 7, 0.5);"></i> Teléfono: +00 123 456 789</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white footer-reduce-padding">
        <div class="container text-center">
            <p class="mb-0" style="color: rgb(253, 249, 15); text-shadow: 2px 2px 4px rgba(248, 7, 7, 0.5);" > &copy; 2023 Avenida. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
