<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/common-head :: common-head"></head>
<style>
    .jumbotron {
        position: relative;
        height: 70vh; /* Establece la altura del contenedor al 100% de la altura de la ventana */
        background-image: url('/images/mesas marrones.jpeg');
        background-size: cover;
        background-position: center;
    }

    .jumbotron .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<body>
<!-- Fragmento de la barra de navegación -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="jumbotron">
    <div class="container">
        <h1 class="text-start" style="color: rgb(236, 13, 13); text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);">Bienvenido al Restaurante Avenida</h1>

        <p class="text-start" style="color: blue;"></p>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-start" style="color: red;"><span th:text="${nombre}"></span></h2>
            <p class="text-start" style="color: blue;"></p>
        </div>
    </div>
</div>

<!-- Incluir el fragmento del footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
